@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Roboto', sans-serif;
}
.header-section{
    display: flex;
    width: 90%;
    margin: auto;
    height: 10vh;
    align-items: center;
}

.contact,
.mail,
.social-icons{
    display: flex;
}


.contact{
    flex: 1;
}

.contact i {
    margin-right: 10px;
}

.mail{
    flex: 2;
    justify-content: center;
}
.mail i{
    margin-right: 10px;
}

.social-icons{
    flex: 1;
    justify-content: flex-end;

}

.social-icons a{
    margin-right: 10px;
    color: black;
}